---
// Click button, get confetti!
// Styled by Tailwind; pass class for brand colors.
interface Props {
	class?: string;
}
const { class: className } = Astro.props;
const baseClasses =
	'appearance-none px-4 py-2 rounded-lg font-semibold shadow focus:outline-none focus:ring-2 focus:ring-offset-2';
---

<button class:list={[baseClasses, className]}>
	<slot />
</button>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
